/*Stylesheet for the web application*/
*
{
    margin: 0;   
    padding: 0;    
}
header
{
    background-color: #90c2e7;    
    height: 150px; 
    margin:0 auto;        
}
header h1
{
    font-size: 70px;
    font-family: "Century Gothic";
    color: #113d44;
    font-weight: bold; 
    position: absolute;
    left: 25%;   
    top: 1%;
}
header h2
{
    font-size: 20px;
    font-family: "Century Gothic";
    color: #113d44;
    font-weight: bold; 
    position: absolute;
    right: 15%;
    top: 10%;
}
header img
{
    position: absolute;
    width: 100px;
    left: 15%;
    padding-top: 5px;    
}
header div.navigation_bar
{
    background-color: #4e8098;
    position: absolute;
    top: 15%;
    /*width: 2110px;*/
    width: 100%;
    height: 35px;
    text-align: center;
}
header div.navigation_bar a
{
    font-family: "Century Gothic";
    font-size: 25px;
    display: inline-block;
    color: white;       
    text-decoration: none;
    padding-left: 3%;  
    padding-right: 3%; 
    height: 100%;
}
header div.navigation_bar a:hover
{
    background-color: #1b303a
}
h1
{
    font-size: 90px;
    font-family: "Century Gothic";
    color: #113d44;
    font-weight: normal; 
    position: absolute;
    left: 37%;  
    top: 20%;
}

body div.phone img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
}
body div.phone p
{
    font-family: "Century Gothic";
    font-size: 30px;    
    width: 50%;
    text-align: center;
    position: absolute;
    left: 25%;
    background-color: lightgray;
    
    
}
body div.camera img
{
    display: block;
    margin-left: 25%;    
    margin-top: 10%;    
    width: 20%;
}
body div.camera p
{
    font-family: "Century Gothic";
    font-size: 25px;    
    width: 20%;
    text-align: center;
    position: absolute;
    left: 25%;
    background-color: lightgray;    
}
body div.laptop img
{
    display: block;
    margin-left: 50%;    
    margin-top: -15.7%; 
    width: 25%;
}
body div.laptop p
{
    font-family: "Century Gothic";
    font-size: 25px;    
    width: 25%;
    text-align: center;
    position: absolute;
    left: 50%;
    background-color: lightgray;    
}
footer
{
    background-color: #092327;
    position: absolute;
    top: 160%;
    width: 100%;
    height: 10%;   
    margin-top: 100px;
    margin-bottom: 100px;
}
footer h3
{
    font-family: "Century Gothic";
    font-size: 40px;    
    color: white;       
    text-decoration: none;
    padding-left: 3%;  
    padding-right: 3%;    
}
footer a
{
    font-family: "Century Gothic";
    font-size: 20px;    
    color: white;      
    padding-left: 3%;  
    padding-right: 3%;       
}
body div.background_color
{    
    background-image: linear-gradient(0deg,#043871, #00a9a5);
    height: 1200px;    
    text-align: center;    
}
body div.background_color form.login_form
{
    background-color: white;
    width: 500px;      
    position: absolute;
    left: 37.5%;
    top: 25%;
    padding: auto;
    border-radius: 10px;
}
body div.background_color form.login_form h1
{
    position: static;
    font-weight: bold;
    font-size: 80px;
    
}
body div.background_color form.login_form a
{
    font-size: 25px;
    text-decoration: none;
    font-family: "Century Gothic";
    font-weight: normal;        
    text-align: center;
    color:  rgb(59, 59, 59);
}
body div.background_color form.login_form input[type=text]
{
    background-color: rgb(236, 236, 236);;
    width: 80%;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 25px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;
}
body div.background_color form.login_form input[type=password]
{
    background-color: rgb(236, 236, 236);;
    width: 80%;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 25px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;
}
body div.background_color form.login_form input[type=submit]
{
    width: 70%;
    height: 8%;
    border-radius: 10px;
    font-size: 35px;
    font-family: "Century Gothic";    
    color: white;
    border: none;
    background-image: linear-gradient(90deg, #025f5e,#043871);
    padding: 5px;
}
body div.background_color form.registration_form
{
    background-color: white;
    width: 500px;     
    position: absolute;
    left: 37.5%;
    top: 25%;       
    border-radius: 10px;
    text-align: center;
}
body div.background_color form.registration_form h1
{
    position: static;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}
body div.background_color form.registration_form input[type=text]
{
    background-color: rgb(236, 236, 236);;
    width: 400px;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 20px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;        
}
body div.background_color form.registration_form input[type=submit]
{
    width: 70%;
    height: 8%;
    border-radius: 10px;
    font-size: 35px;
    font-family: "Century Gothic";    
    color: white;
    border: none;
    background-image: linear-gradient(90deg, #025f5e,#043871);
    padding: 5px;
}
body div.background_color form.forgot_password_form
{
    background-color: white;
    width: 500px;      
    position: absolute;
    left: 37.5%;
    top: 25%;
    padding: auto;
    border-radius: 10px;
}
body div.background_color form.forgot_password_form h1
{
    position: static;
    font-weight: bold;
    font-size: 70px;    
}
body div.background_color form.forgot_password_form input[type=text]
{
    background-color: rgb(236, 236, 236);;
    width: 80%;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 25px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;
}
body div.background_color form.forgot_password_form input[type=submit]
{
    width: 70%;
    height: 8%;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Century Gothic";    
    color: white;
    border: none;
    background-image: linear-gradient(90deg, #025f5e,#043871);
    padding: 5px;
}
body div.background_color form.reset_password_form input[type=text]
{
    background-color: rgb(236, 236, 236);;
    width: 80%;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 25px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;
}
body div.background_color form.reset_password_form input[type=submit]
{
    width: 70%;
    height: 8%;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Century Gothic";    
    color: white;
    border: none;
    background-image: linear-gradient(90deg, #025f5e,#043871);
    padding: 5px;
}
body div.background_color form.reset_password_form
{
    background-color: white;
    width: 500px;      
    position: absolute;
    left: 37.5%;
    top: 25%;
    padding: auto;
    border-radius: 10px;
}
body div.background_color form.reset_password_form h1
{
    position: static;
    font-weight: bold;
    font-size: 70px;    
}
body div.background_color form.reset_password_form input[type=password]
{
    background-color: rgb(236, 236, 236);;
    width: 80%;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 25px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;
}
header h3
{    
    font-size: 20px;
    font-family: "Century Gothic";
    color: #113d44;
    font-weight: bold; 
    position: absolute;
    right: 10%;
    top: 1%;    
} 
body div.background_color form.edit_details_form
{
    background-color: white;
    width: 500px;      
    position: absolute;
    left: 37.5%;
    top: 25%;
    padding: auto;
    border-radius: 10px;
}
body div.background_color form.edit_details_form h1
{
    position: static;
    font-weight: bold;
    font-size: 70px;    
}
body div.background_color form.edit_details_form input[type=text]
{
    background-color: rgb(236, 236, 236);;
    width: 80%;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 25px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;
}
body div.background_color form.edit_details_form input[type=password]
{
    background-color: rgb(236, 236, 236);;
    width: 80%;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 25px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;
}
body div.background_color form.edit_details_form input[type=submit]
{
    width: 70%;
    height: 8%;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Century Gothic";    
    color: white;
    border: none;
    background-image: linear-gradient(90deg, #025f5e,#043871);
    padding: 5px;
}
h4
{
    font-size: 20px;
    font-family: "Century Gothic";
    color: #113d44;
    font-weight: bold;   
}
p#error
{
    background-color: #f44336;
    font-family: "Century Gothic"; 
    padding: 5px;
    width: 80%;   
    height: 40px; 
    background-color: #f44336;
    color: white;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    left:9%;
    border-radius: 5px; 
    padding-top: 5%;    
}
body div.background_color form.registration_form p.error
{
    background-color: #f44336;
    font-family: "Century Gothic"; 
    padding: 5px;
    width: 80%;   
    height: 40px; 
    background-color: #f44336;
    color: white;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    left:9%;
    border-radius: 5px; 
    padding-top: 5%;
}
body div.background_color form.forgot_password_form p.error
{
    background-color: #f44336;
    font-family: "Century Gothic"; 
    padding: 5px;
    width: 80%;   
    height: 40px; 
    background-color: #f44336;
    color: white;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    left:9%;
    border-radius: 5px; 
    padding-top: 5%;
}
body div.background_color form.edit_details_form p.error
{
    background-color: #f44336;
    font-family: "Century Gothic"; 
    padding: 5px;
    width: 80%;   
    height: 40px; 
    background-color: #f44336;
    color: white;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    left:9%;
    border-radius: 5px; 
    padding-top: 5%;
}
body div.background_color form.reset_password_form p.error
{
    background-color: #f44336;
    font-family: "Century Gothic"; 
    padding: 5px;
    width: 80%;   
    height: 40px; 
    background-color: #f44336;
    color: white;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    left:9%;
    border-radius: 5px; 
    padding-top: 5%;
}
body div.background_color form.searchuser_form
{
    background-color: white;
    width: 500px;      
    position: absolute;
    left: 37.5%;
    top: 25%;
    padding: auto;
    border-radius: 10px;
}
body div.background_color form.searchuser_form h1
{
    position: static;
    font-weight: bold;
    font-size: 70px;    
}
body div.background_color form.searchuser_form input[type=text]
{
    background-color: rgb(236, 236, 236);;
    width: 80%;
    height:7%;
    position: relative;
    top: 20%;
    border: none;       
    font-size: 25px; 
    font-family: "Century Gothic";
    padding: 10px;
    border-radius: 10px;
}
body div.background_color form.searchuser_form p.error
{
    background-color: #f44336;
    font-family: "Century Gothic"; 
    padding: 5px;
    width: 80%;   
    height: 40px; 
    background-color: #f44336;
    color: white;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    left:9%;
    border-radius: 5px; 
    padding-top: 5%;
}
body div.background_color form.searchuser_form input[type=submit]
{
    width: 70%;
    height: 8%;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Century Gothic";    
    color: white;
    border: none;
    background-image: linear-gradient(90deg, #025f5e,#043871);
    padding: 5px;
}
button#upload
{    
    cursor: pointer;
    margin-top: 100px;
    height: 70px;
    width: 50%;
    border-radius: 30px;
    border-style: none;    
    background-color: #043871 ;
    transition: 0.3s;
    font-size: 30px;
    font-family: "Century Gothic";
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
button#upload:hover
{
    background-color: #00a9a5;
}
form#upload
{
    background-color: white;
    width: 40%;      
    position: absolute;
    left: 32%;
    top: 25%;
    padding: auto;
    border-radius: 10px;
}
form#upload h1
{
    position: static;
    font-weight: bold;
    font-size: 70px;    
}
form#import
{
    background-color: white;
    width: 40%;      
    position: absolute;
    left: 32%;
    top: 25%;
    padding: auto;
    border-radius: 10px;
}
form#import h1
{
    position: static;
    font-weight: bold;
    font-size: 70px;    
}